[Desktop Entry]
Name=Hide Titles Mod
Comment=Based on https://github.com/bahamondev/hide-titles v 1.0.5 - Add support for multiscreen.
Icon=preferences-system-windows-script-test
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-ServiceTypes=KWin/Script

X-KDE-PluginInfo-Author=Black Codec
X-KDE-PluginInfo-Email=orso.f.regna@gmail.com
X-KDE-PluginInfo-Name=hide-titles-mod
X-KDE-PluginInfo-Version=1.0.1
X-KDE-PluginInfo-Website=https://github.com/BlackCodec/hide-titles-mod
X-KDE-PluginInfo-License=GPLv3
